/* body {
  overflow: hidden;
} */

ul,
ol {
  list-style: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery-item {
  width: calc(33.33% - 20px);
  margin: 10px;
}

.gallery-image {
  width: 100%;
  height: auto;
}
